* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 14px;
}
h3 {
    font-size: 30px;
    font-family: Roboto, sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
h3 span {
    color: #2186c0;
    text-align: left;
}
header {
    position: absolute;
    width: 100%;
}
.main-head,
.navbar {
    padding: 0 50px;
}
.menu-item ul li {
    padding: 0 10px;
}
.menu-item ul li a {
    font-size: 18px;
    color: #fff !important;
    text-transform: uppercase;
    text-align: center;
}
.logo {
    border-radius: 0 0 7px 7px;
}
#banner {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}
.background {
    padding: 300px 0 400px 0;
}
#banner h1 {
    font-size: 106px;
    text-transform: uppercase;
    color: #fff;
    line-height: 50px;
    font-weight: 600;
}
#banner h1 span {
    font-size: 45px;
}
#institute {
    padding-top: 60px;
}
#institute h5 {
    color: #2186c0;
    font-size: 35px;
    letter-spacing: 10px;
    text-transform: uppercase;
}
#institute h2 {
    color: #484c4e;
    font-family: Roboto, sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 700;
}
#institute p {
    color: #474849;
    text-align: justify;
}
.explore-button a {
    color: #fff;
    background-color: #2184bd;
    padding: 20px 40px;
    font-size: 21px;
    text-transform: uppercase;
}
.explore-button {
    padding-top: 60px;
}
.explore-button a:hover {
    text-decoration: none;
    background-color: #0d6299;
}
#courses {
    background-color: #2184bd;
    padding: 50px 0;
}
.card-body h4 {
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
.card-text {
    font-family: Roboto, sans-serif;
    font-weight: lighter;
    color: #fff;
    text-align: justify;
}
.card-body a {
    color: #fff;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    text-decoration: underline;
}
.card {
    background-color: #4098cb;
    border-radius: 12px;
    margin: 30px 0;
}
.card-img-top {
    border-radius: 12px;
}
#download {
    background-color: #b4e1fa;
    padding: 60px 0 0 0;
}
.android {
    padding: 0 160px 0 0;
}
#download h4 {
    font-size: 23px;
    font-family: Lato, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
#download p {
    font-size: 18px;
    color: #191919;
}
.app a {
    padding: 10px 30px;
    color: #fff;
    background-color: #2184bd;
    font-family: Lato, sans-serif;
    font-size: 18px;
    border-radius: 10px;
}
.app a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #0d6299;
}
.mobile img {
    float: right;
    border-radius: 44px 44px 0 0;
}
#facilities {
    padding: 50px 0 0 0;
}
.fact-head {
    color: #2186c0;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
}
#social {
    background-color: #2184bd;
    padding: 50px 0 70px 0;
}
.back-box {
    background-color: #fff;
    padding: 10px;
}
.back-box li {
    display: inline;
}
.back-box li a img {
    text-align: center;
    padding: 0;
}
.back-box li a:hover {
    text-decoration: none;
}
.back-box li span {
    font-size: 21px;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #282828;
    padding: 10px;
}
.back-box p {
    color: #000;
    font-size: 14px;
    font-family: Roboto, sans-serif;
}
.back-box .card-img-top {
    padding: 0;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#footer {
    background-color: #1b1b1b;
    padding: 50px 0 50px 0;
}
.footer-icon ul li {
    display: inline-block;
    text-decoration: none;
    margin: 5px;
}
.footer-icon ul li a:hover {
    text-decoration: none;
}
.footer-text p {
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    text-align: center;
}
@media (max-width: 361.98px) {
    #banner h1 {
        font-size: 50px;
        text-align: center;
        line-height: 40px;
    }
    #banner h1 span {
        font-size: 20px;
    }
    .main-head,
    .navbar {
        padding: 0 20px;
    }
    .logo {
        width: 50%;
        height: auto;
    }
    #institute h5 {
        font-size: 22px;
        letter-spacing: 10px;
    }
    #institute h2 {
        font-size: 38px;
    }
    .explore-button a {
        padding: 16px 30px;
        font-size: 16px;
    }
    .mobile img {
        float: left;
        padding: 40px 0 0 0;
        border-radius: 75px 75px 0 0;
    }
    .android {
        padding: 0;
    }
    #download {
        background-color: #b4e1fa;
        padding: 60px 40px 0 40px;
    }
    h3 {
        font-size: 22px;
    }
}
@media (min-width: 362.98px) and (max-width: 575.98px) {
    #banner h1 {
        font-size: 55px;
        text-align: center;
        line-height: 40px;
    }
    #banner h1 span {
        font-size: 22px;
    }
    .main-head,
    .navbar {
        padding: 0 20px;
    }
    .logo {
        width: 40%;
        height: auto;
    }
    #institute h5 {
        font-size: 24px;
        letter-spacing: 10px;
    }
    #institute h2 {
        font-size: 40px;
    }
    .explore-button a {
        padding: 16px 30px;
        font-size: 16px;
    }
    .mobile img {
        float: left;
        padding: 40px 0 0 0;
        border-radius: 75px 75px 0 0;
    }
    .android {
        padding: 0 40px 0 0;
    }
    #download {
        background-color: #b4e1fa;
        padding: 60px 40px 0 40px;
    }
    .video iframe {
        padding: 40px 20px 20px 20px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    #banner h1 {
        font-size: 70px;
    }
    #banner h1 span {
        font-size: 30px;
    }
    #institute h5 {
        font-size: 28px;
        letter-spacing: 10px;
    }
    #institute h2 {
        font-size: 47px;
    }
    .explore-button a {
        padding: 18px 35px;
        font-size: 18px;
    }
    .mobile img {
        float: left;
        padding: 40px 0 0 0;
        border-radius: 75px 75px 0 0;
    }
    .android {
        padding: 0 40px 0 0;
    }
    .video iframe {
        padding: 40px 20px 20px 20px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    #banner h1 {
        font-size: 86px;
    }
    #banner h1 span {
        font-size: 38px;
    }
    #institute h5 {
        font-size: 30px;
        letter-spacing: 10px;
    }
    #institute h2 {
        font-size: 50px;
    }
    .android {
        padding: 0 40px 0 0;
    }
    .video iframe {
        padding: 40px 20px 20px 20px;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    #banner h1 {
        font-size: 96px;
    }
    #banner h1 span {
        font-size: 42px;
    }
    #institute h5 {
        font-size: 30px;
        letter-spacing: 10px;
    }
    #institute h2 {
        font-size: 50px;
    }
    .android {
        padding: 0 80px 0 0;
    }
    .video iframe {
        padding: 40px 20px 20px 20px;
    }
}
@media (min-width: 1200px) {
    .video iframe {
        padding: 50px 100px 50px 50px;
    }
}
